@media (max-width: 576px) {
  html {
    font-size: 5px
  }
  .container {
    width: 95%;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 6px
  }

}
@media (min-width: 768px) {
  html {
    font-size: 7px
  }
  .container {
    width: 90%;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 8px
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 10px
  }
  .container {
    width: 80%;
  }
}