// Static colors
$c-primary: #BC9CFF;
$c-secondary: #6FCF97;
$c-dark: #1F2041;

// Gradients
$g-primary: linear-gradient(180deg, $c-primary 0%, #8BA4F9 100%);
$g-secondary: linear-gradient(180deg, $c-secondary 0%, #66D2EA 100%);