@import 'variables';
@import 'responsive';
@import 'fonts';

@import  '../css/header.css';
@import  '../css/footer.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  color: $c-dark;
  line-height: 3rem;
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
  font-family: 'Open Sans';
}

h2 {
  font-size: 1.9rem;
  font-family: 'Open Sans';
}

h3 {
  font-size: 1.2rem;
}

.body {
  font-size: 1.4rem;
  color: rgba($c-dark, 0.75);
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

button.btn {
  border-radius: 2.2rem;
  padding: 0.9rem 2rem;
  font-size: 1.2rem;
  border: none;
  height: 3.4rem;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &.btn_primary {
    background: $g-primary;
    color: #fff;
  }
  &.btn_primary_alt {
    position: relative;
    background-color: transparent;
    border: double 2px transparent;
    border-radius: 2.2rem;
    background-image: linear-gradient(white, white), 
                      $g-primary;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: $c-primary;
  }
}
