/* line 4, ../../components/footer.scss */
footer .footer__main {
  border-top: 1px solid #D1D1D4;
  border-bottom: 1px solid #D1D1D4;
}
/* line 7, ../../components/footer.scss */
footer .footer__main .container {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
}
/* line 11, ../../components/footer.scss */
footer .footer__main .container .footer__element {
  max-width: 26rem;
}
/* line 13, ../../components/footer.scss */
footer .footer__main .container .footer__element p {
  line-height: 2.4rem;
}
/* line 16, ../../components/footer.scss */
footer .footer__main .container .footer__element p, footer .footer__main .container .footer__element li, footer .footer__main .container .footer__element input {
  margin-top: 2rem;
}
/* line 19, ../../components/footer.scss */
footer .footer__main .container .footer__element p:first-child,
footer .footer__main .container .footer__element input:first-child {
  margin-top: 0;
}
/* line 23, ../../components/footer.scss */
footer .footer__main .container .footer__element h3 {
  text-transform: uppercase;
}
/* line 26, ../../components/footer.scss */
footer .footer__main .container .footer__element .footer__element-menu {
  list-style: none;
}
/* line 28, ../../components/footer.scss */
footer .footer__main .container .footer__element .footer__element-menu li {
  color: rgba(31, 32, 65, 0.5);
  font-size: 1.4rem;
}
/* line 37, ../../components/footer.scss */
footer .footer__secondary .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 0;
}
/* line 42, ../../components/footer.scss */
footer .footer__secondary .container ul.socials {
  display: flex;
  list-style: none;
}
/* line 45, ../../components/footer.scss */
footer .footer__secondary .container ul.socials li a {
  padding-left: 2rem;
}
