<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxin | Hotel Booking Service
    link(rel="stylesheet", href="./assets/scss/base.scss")
  body
    include components/footer.pug